<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
					  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SerialUSB_Scanner_Tool.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Remove appSettings keys that conflict with userSettings -->
	<appSettings>
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

	<userSettings>
		<SerialUSB_Scanner_Tool.Properties.Settings>
			<setting name="COMPORT" serializeAs="String">
				<value>COM1</value>
				<!-- Default port -->
			</setting>
			<setting name="BAUDS" serializeAs="String">
				<value>9600</value>
				<!-- Default baud rate -->
			</setting>
			<setting name="AUTO" serializeAs="String">
				<value>AUTO</value>
				<!-- Default auto connect -->
			</setting>
		</SerialUSB_Scanner_Tool.Properties.Settings>
	</userSettings>
</configuration>
